# Language detector

In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv(r'C:/Users/Kishlay kumar/Downloads/sentences.csv', on_bad_lines='skip')

In [2]:
data = pd.read_csv(r'C:\Users\Kishlay kumar\Downloads\sentences.csv',
                            sep='\t', 
                            encoding='utf8', 
                            index_col=0,
                            names=['lang','text'])

In [4]:
data

         lang                                              text
1         cmn                                            我們試試看！
2         cmn                                           我该去睡觉了。
3         cmn                                           你在干什麼啊？
4         cmn                                            這是什麼啊？
5         cmn                            今天是６月１８号，也是Muiriel的生日！
...       ...                                               ...
11229419  dan                             Hvorfor er du så dum?
11229420  dan                            Hvorfor er I så dumme?
11229421  epo                       Kial vi estas tiel stultaj?
11229422  spa  En fin la gente se envidia por cosas muy tontas.
11229423  eng    Anyways, people get jealous over stupid stuff.

[10773949 rows x 2 columns]

In [5]:
len_cond = [True if 20<=len(s)<=200 else False for s in data['text']]
data = data[len_cond]

In [6]:
data

         lang                                              text
5         cmn                            今天是６月１８号，也是Muiriel的生日！
21        cmn                   选择什么是“对”或“错”是一项艰难的任务，我们却必须要完成它。
67        cmn                       我们看东西不是看其实质，而是以我们的主观意识看它们的。
71        cmn                         生活就是當你忙著進行你的計劃時總有其他的事情發生。
77        deu                         Lass uns etwas versuchen!
...       ...                                               ...
11229419  dan                             Hvorfor er du så dum?
11229420  dan                            Hvorfor er I så dumme?
11229421  epo                       Kial vi estas tiel stultaj?
11229422  spa  En fin la gente se envidia por cosas muy tontas.
11229423  eng    Anyways, people get jealous over stupid stuff.

[9060619 rows x 2 columns]

In [7]:
lang = ['deu', 'eng', 'fra', 'ita', 'por', 'spa']
data = data[data['lang'].isin(lang)]

In [8]:
data

         lang                                               text
77        deu                          Lass uns etwas versuchen!
78        deu                           Ich muss schlafen gehen.
81        deu  Heute ist der 18. Juni und das ist der Geburts...
82        deu    Herzlichen Glückwunsch zum Geburtstag, Muiriel!
83        deu                              Muiriel ist jetzt 20.
...       ...                                                ...
11229415  spa                               ¿Me esperará mañana?
11229416  spa                           ¿Me va a esperar mañana?
11229418  spa                     Nos mataste con tus historias.
11229422  spa   En fin la gente se envidia por cosas muy tontas.
11229423  eng     Anyways, people get jealous over stupid stuff.

[3971166 rows x 2 columns]

In [9]:
data_trim = pd.DataFrame(columns=['lang','text'])

In [10]:
data_trim

Empty DataFrame
Columns: [lang, text]
Index: []

In [11]:
for l in lang:
    lang_trim = data[data['lang'] ==l].sample(50000,random_state = 100)
    data_trim = data_trim.append(lang_trim)

C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)
C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)
C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)
C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)
C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)
C:\Users\Kishlay kumar\AppData\Local\Temp\ipykernel_17280\925054039.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_trim = data_trim.append(lang_trim)

In [12]:
data_trim

         lang                                               text
10012920  deu         Sagt Tom, dass ich auf ihn zu Hause warte.
2761961   deu  Eine eigene Meinung ist ein Luxus, den sich ni...
2911708   deu                     Warten wir, bis wir dran sind!
368528    deu  Er war furchtbar beunruhigt, als er jene Gesch...
2059859   deu  Mein lieber Freund, ich bin zu dem geworden, w...
...       ...                                                ...
5769332   spa     No estaremos aquí a partir de las dos y media.
1496876   spa                 Tom vino a mi oficina esta mañana.
2413403   spa  Entonces llegó la vecina, que se puso a gritar...
5170543   spa      ¿Estás seguro de que no te olvidaste de nada?
1745352   spa                  Tengo que recoger algunas flores.

[300000 rows x 2 columns]

In [13]:
data_shuffle = data_trim.sample(frac = 1)

In [14]:
data_shuffle

        lang                                               text
2105924  por                            Falou-se de literatura.
6810135  ita  Non sono sicura di aver tradotto correttamente...
1004398  por                               O menino usa óculos.
8897575  ita                           Non mi lascerà aiutarlo.
380229   fra                        Nous sommes en bonne santé.
...      ...                                                ...
4031223  por             Isso é o que chamamos amor verdadeiro.
8564265  por              De que forma eu posso te ajudar hoje?
8539120  por             Eu não acredito no que o Tom me disse.
6172786  ita                             È urgente che lo veda.
3482508  deu  Wie schätzen Sie die Situation in der Region ein?

[300000 rows x 2 columns]

In [15]:
train = data_shuffle[0:210000]
valid = data_shuffle[210000:270000]
test = data_shuffle[270000:300000]

In [16]:
test

         lang                                               text
3162122   eng                 I think Tom doesn't want our help.
6301522   ita                            Puoi svegliarla per me?
11166463  fra         Je pense que tu es le seul à t'en soucier.
7698961   fra                            Tom l'a fait tout seul.
5679149   eng   We've put the Christmas presents under the tree.
...       ...                                                ...
4031223   por             Isso é o que chamamos amor verdadeiro.
8564265   por              De que forma eu posso te ajudar hoje?
8539120   por             Eu não acredito no que o Tom me disse.
6172786   ita                             È urgente che lo veda.
3482508   deu  Wie schätzen Sie die Situation in der Region ein?

[30000 rows x 2 columns]

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
def get_trigrams(corpus,n_feat=200):
    """
    Returns a list of the N most common character trigrams from a list of sentences
    params
    ------------
        corpus: list of strings
        n_feat: integer
    """
    
    #fit the n-gram model
    vectorizer = CountVectorizer(analyzer='char',
                            ngram_range=(3, 3)
                            ,max_features=n_feat)
    
    X = vectorizer.fit_transform(corpus)
    
    #Get model feature names
    feature_names = vectorizer.get_feature_names()
    
    return feature_names

In [18]:
#obtain trigrams from each language
features = {}
features_set = set()

for l in lang:
    
    #get corpus filtered by language
    corpus = train[train.lang==l]['text']
    
    #get 200 most frequent trigrams
    trigrams = get_trigrams(corpus)
#     print(trigrams)
    
    #add to dict and set
    features[l] = trigrams 
#     print(features)
    features_set.update(trigrams)
#     print(features_set)
    
#create vocabulary list using feature set
vocab = dict()
for i,f in enumerate(features_set):
    vocab[f]=i
print(vocab)

C:\Users\Kishlay kumar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

{'olt': 0, 'un ': 1, 'n v': 2, 'ndo': 3, 'esp': 4, 'hac': 5, 'ent': 6, 'a v': 7, 'oro': 8, ' th': 9, 'm a': 10, 'a d': 11, 'at.': 12, ' ha': 13, 'r d': 14, ', w': 15, ' nã': 16, 'ría': 17, 's n': 18, 'una': 19, 'car': 20, ' vi': 21, 'hey': 22, 'fai': 23, 'das': 24, 't d': 25, 'hat': 26, "'es": 27, 'um ': 28, 'em ': 29, 'ce ': 30, ' si': 31, 's m': 32, 'wer': 33, 'thi': 34, "n't": 35, 'str': 36, 'ne ': 37, 'can': 38, 'ouv': 39, 'ht ': 40, 'o n': 41, 'o a': 42, 'a e': 43, 'ung': 44, 'ade': 45, 'ly ': 46, 'plu': 47, 'del': 48, ' he': 49, 'mit': 50, 'a t': 51, 'ner': 52, 'of ': 53, 'und': 54, 'nno': 55, 'ues': 56, 'wie': 57, ' dé': 58, 'ano': 59, 'ine': 60, 'ère': 61, 'tom': 62, 'wit': 63, ' é ': 64, 'aci': 65, 'ink': 66, 'voi': 67, 'o p': 68, 'sso': 69, 'osa': 70, ', d': 71, 's p': 72, 'anc': 73, 'er.': 74, 'jou': 75, 'her': 76, 'ión': 77, 'e w': 78, ' sc': 79, 's e': 80, 'uie': 81, 'ace': 82, 'tie': 83, 'ige': 84, 'eit': 85, 'hin': 86, ' of': 87, ' as': 88, 'ary': 89, 's q': 90, 'a l': 91, 'ain': 92, 'tem': 93, 'ren': 94, 'i a': 95, ' ri': 96, 'ué ': 97, 'son': 98, 'r l': 99, ' de': 100, 'ia.': 101, 'es.': 102, 'aid': 103, 'sai': 104, 'ann': 105, 'ai ': 106, ' kn': 107, 'ous': 108, ' o ': 109, 'mui': 110, 'oir': 111, 'lo ': 112, 'th ': 113, 'ui ': 114, 'der': 115, 'ans': 116, 'ica': 117, 'ese': 118, 'sic': 119, 'for': 120, 'm s': 121, 'o s': 122, 's i': 123, 'i d': 124, ' go': 125, 'n p': 126, 'ies': 127, 'ant': 128, 'o t': 129, 'los': 130, ' il': 131, 'ass': 132, 'des': 133, 'ett': 134, ' ma': 135, 'es ': 136, ' pl': 137, 'm i': 138, 'ia ': 139, ' su': 140, 'e e': 141, 'ell': 142, 'h h': 143, 'tra': 144, 'ido': 145, 't w': 146, 'ete': 147, 'm p': 148, 'you': 149, ' um': 150, 'n a': 151, 's a': 152, 'a m': 153, 'por': 154, ' hi': 155, 'did': 156, 'd h': 157, 'eu ': 158, 's s': 159, 'ehr': 160, "'s ": 161, 'dos': 162, 'di ': 163, 'm e': 164, 'a i': 165, 'y w': 166, ' em': 167, ' ka': 168, 'not': 169, ' un': 170, 'nte': 171, 'ot ': 172, ' fa': 173, 'nho': 174, 'hav': 175, "j'a": 176, 'e d': 177, 'd t': 178, ' av': 179, ' i ': 180, 'faz': 181, 'est': 182, 'our': 183, 'ith': 184, 't p': 185, 'ehe': 186, 'n h': 187, 've ': 188, 'tu ': 189, 'is ': 190, ' er': 191, 't m': 192, 'de ': 193, 'os ': 194, 'rie': 195, 'pou': 196, ' ni': 197, 'e, ': 198, 'ria': 199, 'ela': 200, 'ra ': 201, 'ons': 202, ' ih': 203, 'u a': 204, 'ang': 205, 'qué': 206, 'omm': 207, 'r w': 208, 'ess': 209, 'enn': 210, 'nt ': 211, 'ma ': 212, 'con': 213, 'she': 214, 'e a': 215, 'ito': 216, 'e i': 217, 'abe': 218, 'pas': 219, 'ux ': 220, 'al ': 221, "'t ": 222, 'sen': 223, 'st ': 224, 'cê ': 225, 'r t': 226, 'ene': 227, 'r i': 228, 'zu ': 229, 'pue': 230, 'ora': 231, 'hab': 232, 'ich': 233, 'une': 234, 'nen': 235, 'hre': 236, 'tio': 237, ' so': 238, 'ist': 239, 'now': 240, 'die': 241, 'ear': 242, 't t': 243, 'ns ': 244, 'ber': 245, 'do ': 246, 'nic': 247, 'mme': 248, 'les': 249, 'mai': 250, 'ele': 251, 't a': 252, 'd a': 253, 'ait': 254, 'ger': 255, 'ter': 256, 'ad ': 257, 'dan': 258, 'ado': 259, 'ía ': 260, 'as.': 261, 'lte': 262, 'res': 263, ' et': 264, 'n t': 265, 'ow ': 266, 'e j': 267, 'e o': 268, 'to.': 269, 'io ': 270, 'nos': 271, 'ght': 272, 'ed ': 273, 'chi': 274, 'ava': 275, 'le ': 276, 's d': 277, 'n g': 278, 'che': 279, 'nde': 280, 'go ': 281, 'e b': 282, 'per': 283, 'den': 284, 'ue ': 285, 's l': 286, ' le': 287, 'll ': 288, ' en': 289, 'ien': 290, 'e l': 291, 'ein': 292, ' li': 293, 'far': 294, 'out': 295, "dn'": 296, 'min': 297, ' it': 298, ' me': 299, ' el': 300, 'cer': 301, 'a f': 302, 'y s': 303, 'ocê': 304, 'nou': 305, 'hou': 306, ' wa': 307, 'as ': 308, 'tte': 309, ' es': 310, 'las': 311, 'och': 312, 'n w': 313, 'tat': 314, ' ti': 315, 'rui': 316, 'us ': 317, 'e r': 318, 'uir': 319, 'rde': 320, ' ho': 321, ' eu': 322, ' ch': 323, ' fo': 324, 'air': 325, 'lei': 326, 'ost': 327, ' à ': 328, 'tha': 329, ' di': 330, 'uit': 331, 'te ': 332, 'nn ': 333, 'a c': 334, 'eur': 335, 'n d': 336, 't h': 337, 'sch': 338, "l'a": 339, 'or ': 340, 't e': 341, 'nti': 342, 'nge': 343, 'mos': 344, 'on ': 345, 're ': 346, 'ero': 347, 's c': 348, 'be ': 349, ' qu': 350, ' re': 351, 'o i': 352, 'i w': 353, 't o': 354, 'nha': 355, 'sie': 356, 'd m': 357, 'ure': 358, 'm c': 359, 'n b': 360, 'e v': 361, 'e n': 362, 'sei': 363, ' co': 364, ' wh': 365, 'ida': 366, 'pre': 367, 'va ': 368, 'gio': 369, 'onn': 370, ' pu': 371, 'r e': 372, 'g t': 373, 'o d': 374, 'end': 375, 'a p': 376, 't i': 377, 'ry ': 378, ' tr': 379, 'qua': 380, 'o f': 381, 'ti ': 382, 'eux': 383, ' va': 384, 'a n': 385, 'ste': 386, 'e t': 387, ' ic': 388, 'war': 389, 'was': 390, ' bi': 391, ' pi': 392, 'na ': 393, 'iam': 394, 'si ': 395, "'ai": 396, 'non': 397, ' e ': 398, 'dad': 399, ' mo': 400, 'inh': 401, 'uer': 402, 'ier': 403, ' se': 404, 'n s': 405, 'gli': 406, 'don': 407, 'i s': 408, 'não': 409, ' du': 410, 'la ': 411, 'rai': 412, 'o m': 413, 'n m': 414, 'tai': 415, ' è ': 416, 'an ': 417, 'ome': 418, 'uis': 419, 't s': 420, 'his': 421, 'kno': 422, 'er ': 423, 'a s': 424, 'más': 425, 'iel': 426, ' ca': 427, 'cht': 428, 'o q': 429, 'mar': 430, 'ou ': 431, 'all': 432, 'au ': 433, ' at': 434, 'ng ': 435, 'ued': 436, 'ens': 437, 'ali': 438, 'ez ': 439, 'e g': 440, 'se ': 441, 'i p': 442, 'ás ': 443, 'wei': 444, 'cha': 445, 'rec': 446, 'mei': 447, 'ch ': 448, ' is': 449, 'no ': 450, " l'": 451, 'ha ': 452, 'n, ': 453, 'do.': 454, 'tes': 455, 'tru': 456, 'aus': 457, 'y t': 458, ' lo': 459, 'nta': 460, 'wan': 461, 'mi ': 462, ' mi': 463, 'ebe': 464, 't, ': 465, 'tod': 466, 'nda': 467, 'm w': 468, 'ão ': 469, 'nd ': 470, 'e f': 471, 'to ': 472, 'hr ': 473, 'ihr': 474, 'am ': 475, 'uld': 476, 'aba': 477, 'pia': 478, ' ve': 479, ' in': 480, 'ta ': 481, 'man': 482, 'tou': 483, 'ke ': 484, 'uma': 485, 'auf': 486, 'ben': 487, ' do': 488, 'id ': 489, 'e m': 490, ' sh': 491, 'e h': 492, ' be': 493, 'su ': 494, 'ges': 495, 'ers': 496, " d'": 497, 'it ': 498, 'sta': 499, 'i i': 500, 'e s': 501, "on'": 502, 'rea': 503, 'ada': 504, ' sa': 505, ' ar': 506, 'je ': 507, 'r a': 508, 'ach': 509, 'ted': 510, 'era': 511, 'kei': 512, 'qui': 513, ' yo': 514, 're.': 515, 'tto': 516, 'tar': 517, 'vai': 518, 'el ': 519, 'o c': 520, 'ten': 521, ' on': 522, 'ire': 523, 'com': 524, 'wha': 525, ' la': 526, 'lic': 527, 'da ': 528, 'ei ': 529, 'so ': 530, 'sto': 531, ' zu': 532, 'n e': 533, ' st': 534, ' po': 535, 'du ': 536, ' fr': 537, 'ave': 538, "sn'": 539, ' bo': 540, 'zio': 541, 'ing': 542, 'en.': 543, 'i c': 544, 'eve': 545, 'he ': 546, ' to': 547, ' no': 548, 'par': 549, 'ate': 550, 'ld ': 551, 'lie': 552, " n'": 553, 'in ': 554, 'amo': 555, 'ut ': 556, ' al': 557, "qu'": 558, 'n i': 559, 'men': 560, ' ge': 561, 'e c': 562, 'ery': 563, 'voc': 564, 'ind': 565, 'ran': 566, 'me ': 567, 'oin': 568, 'one': 569, 'rei': 570, 'tan': 571, 'hte': 572, ' ét': 573, 'mon': 574, 'que': 575, ' pe': 576, 'wir': 577, 'li ': 578, 'lla': 579, 'n l': 580, 'hen': 581, 'r s': 582, ' da': 583, 'ey ': 584, 'ill': 585, 'sse': 586, 'tá ': 587, 'ais': 588, 'ro ': 589, ' we': 590, ' tu': 591, ' y ': 592, 'en ': 593, 'ono': 594, ' ne': 595, ' mu': 596, 'a a': 597, ' na': 598, 'ont': 599, 'os.': 600, 'cos': 601, ' an': 602, 'at ': 603, 'ho ': 604, 'lle': 605, 'and': 606, 'il ': 607, 'él ': 608, ' wo': 609, 'ert': 610, 'the': 611, ' je': 612, 'ern': 613, 'ion': 614, 'isc': 615, 'tro': 616, 'att': 617, 'nto': 618, 'ar ': 619, 'stá': 620, 'ort': 621, 'ver': 622, 'ur ': 623, 'en,': 624, ' ac': 625, 's t': 626, ' vo': 627, ' ei': 628, ' wi': 629, ' te': 630, 'mo ': 631, 'ois': 632, 'vou': 633, ' pr': 634, ' ta': 635, ' cu': 636, 'uch': 637, ' au': 638, ' fi': 639, 'ie ': 640, 'gen': 641, 'e p': 642, 'oi ': 643, ' pa': 644, 'om ': 645, 'sa ': 646, 'ara': 647, 'e q': 648, 'o l': 649, 'ss ': 650, 'ir ': 651, ' ce': 652, 't l': 653, 'oul': 654, 'are': 655, 'tre': 656, 'ere': 657, 'ato': 658, 'iss': 659, ' a ': 660, 'eme': 661, 'et ': 662, 'o e': 663}

In [19]:
#train count vectoriser using vocabulary
vectorizer = CountVectorizer(analyzer='char',
                             ngram_range=(3, 3),
                            vocabulary=vocab)

#create feature matrix for training set
corpus = train['text']   
X = vectorizer.fit_transform(corpus)
feature_names = vectorizer.get_feature_names_out()

train_feat = pd.DataFrame(data=X.toarray(),columns=feature_names)
print(train_feat)
#Scale feature matrix

        olt  un   n v  ndo  esp  hac  ent  a v  oro   th  ...  oul  are  tre  \
0         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
1         0    0    0    0    0    0    1    0    0    0  ...    0    0    0
2         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
209995    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209996    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209997    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209998    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209999    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

        ere  ato  iss   a   eme  et   o e
0         0    0    0    0    0    0    0
1         0    0    0    0    0    0    0
2         0    0    0    0    0    0    0
3         0    0    0    0    0    0    0
4         0    0    0    0    0    0    0
...     ...  ...  ...  ...  ...  ...  ...
209995    0    0    0    0    0    0    0
209996    0    0    0    0    0    0    0
209997    0    0    0    0    0    0    0
209998    0    0    0    0    0    0    0
209999    0    0    0    0    0    0    0

[210000 rows x 664 columns]

In [20]:
#Scale feature matrix 
train_min = train_feat.min()
train_max = train_feat.max()
# train_feat = (train_feat - train_min)/(train_max-train_min)

#Add target variable 
train_feat['lang'] = list(train['lang'])
print(train_feat)

        olt  un   n v  ndo  esp  hac  ent  a v  oro   th  ...  are  tre  ere  \
0         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
1         0    0    0    0    0    0    1    0    0    0  ...    0    0    0
2         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
209995    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209996    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209997    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209998    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
209999    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

        ato  iss   a   eme  et   o e  lang
0         0    0    0    0    0    0   por
1         0    0    0    0    0    0   ita
2         0    0    0    0    0    0   por
3         0    0    0    0    0    0   ita
4         0    0    0    0    0    0   fra
...     ...  ...  ...  ...  ...  ...   ...
209995    0    0    0    0    0    0   eng
209996    0    0    0    0    0    0   deu
209997    0    0    0    0    0    0   por
209998    0    0    0    0    0    0   deu
209999    0    0    0    0    0    0   spa

[210000 rows x 665 columns]

In [21]:
#create feature matrix for validation set
corpus = valid['text']   
X = vectorizer.fit_transform(corpus)

valid_feat = pd.DataFrame(data=X.toarray(),columns=feature_names)
valid_feat = (valid_feat - train_min)/(train_max-train_min)
valid_feat['lang'] = list(valid['lang'])

#create feature matrix for test set
corpus = test['text']   
X = vectorizer.fit_transform(corpus)

test_feat = pd.DataFrame(data=X.toarray(),columns=feature_names)
test_feat = (test_feat - train_min)/(train_max-train_min)
test_feat['lang'] = list(test['lang'])

In [22]:

#create feature matrix for validation set
# corpus = valid['text']   
# X = vectorizer.fit_transform(corpus)

# https://towardsdatascience.com/deep-neural-network-language-identification-ae1c158f6a7d

# valid_feat = pd.DataFrame(data=X.toarray(),columns=feature_names)
# valid_feat = (valid_feat - train_min)/(train_max-train_min)
# valid_feat['lang'] = list(valid['lang'])

In [44]:
# pip install keras
# from collections.abc import Iterable
# pip install np_utils

In [31]:
from sklearn.preprocessing import LabelEncoder
# from keras.utils import np_utils
from keras.utils.np_utils import to_categorical

#Fit encoder
encoder = LabelEncoder()
encoder.fit(['deu', 'eng', 'fra', 'ita', 'por', 'spa'])

def encode(y):
    """
    Returns a list of one hot encodings
    Params
    ---------
        y: list of language labels
    """
    
    y_encoded = encoder.transform(y)
    y_dummy = np_utils.to_categorical(y_encoded)
    
    return y_dummy


# # from keras.utils import np_utils
# # import tensorflow as tf
# from keras.utils import to_categorical

In [42]:
import tensorflow as tf
from tf.keras.models import Sequential
from keras.layers import Dense

import tensorflow as tf
# model = tf.keras.Sequential()

#Get training data
x = train_feat.drop('lang',axis=1)
y = encode(train_feat['lang'])
print(y)

#Define model
model = Sequential()
model.add(Dense(500, input_dim=663, activation='relu'))
model.add(Dense(500, activation='relu'))
model.add(Dense(250, activation='relu'))
model.add(Dense(6, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

#Train model
model.fit(x, y, epochs=5, batch_size=100)

ModuleNotFoundError: No module named 'tf'

In [33]:

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score,confusion_matrix

x_test = test_feat.drop('lang',axis=1)
y_test = test_feat['lang']

#Get predictions on test set
# predict_x=model.predict(X_test) 
# classes_x=np.argmax(predict_x,axis=1)
# labels = (model.predict(x_test) > 0.5).astype("int32")
# print(labels)
labels = np.argmax(model.predict(x_test), axis=-1)
print(labels)
# classes_x=np.argmax(labels,axis=1)
predictions = encoder.inverse_transform(labels)
print(predictions)

#Accuracy on test set
accuracy = accuracy_score(y_test,predictions)
print(accuracy)

#Create confusion matrix
lang = ['deu', 'eng', 'fra', 'ita', 'por', 'spa']
conf_matrix = confusion_matrix(y_test,predictions)
conf_matrix_df = pd.DataFrame(conf_matrix,columns=lang,index=lang)

#Plot confusion matrix heatmap
plt.figure(figsize=(10, 10), facecolor='w', edgecolor='k')
sns.set(font_scale=1.5)
sns.heatmap(conf_matrix_df,cmap='coolwarm',annot=True,fmt='.5g',cbar=False)
plt.xlabel('Predicted',fontsize=22)
plt.ylabel('Actual',fontsize=22)

NameError: name 'model' is not defined

In [ ]:
pip install seaborn

In [ ]:
import tensorflow as tf

In [ ]:
for l in lang:
    
    #get corpus filtered by language
    corpus = train[train.lang==l]['text']
    print(corpus)
#     trigrams = get_trigrams(corpus)

In [ ]:
corpus

In [ ]:
a = [' a ', ' al', ' ca', ' co', ' cu', ' de', ' di', ' el', ' en', ' es', ' ha', ' in', ' la', ' le', ' lo', ' ma', ' me', ' mi', ' mu', ' no', ' pa', ' pe', ' po', ' pr', ' pu', ' qu', ' re', ' sa', ' se', ' si', ' so', ' su', ' ta', ' te', ' ti', ' to', ' tr', ' un', ' ve', ' vi', ' y ', 'a a', 'a c', 'a d', 'a e', 'a l', 'a m', 'a n', 'a p', 'a s', 'a t', 'a v', 'aba', 'ace', 'aci', 'ada', 'ado', 'al ', 'an ', 'and', 'ant', 'ar ', 'ara', 'as ', 'as.', 'cer', 'com', 'con', 'da ', 'dad', 'de ', 'des', 'do ', 'do.', 'dos', 'e a', 'e c', 'e d', 'e e', 'e h', 'e l', 'e m', 'e n', 'e p', 'e q', 'e s', 'e t', 'el ', 'ell', 'en ', 'end', 'ene', 'ent', 'er ', 'era', 'ere', 'ero', 'es ', 'es.', 'esp', 'est', 'go ', 'hab', 'hac', 'ida', 'ido', 'ien', 'ier', 'ión', 'la ', 'las', 'le ', 'lla', 'lo ', 'los', 'mar', 'me ', 'men', 'mi ', 'mo ', 'mos', 'más', 'n a', 'n c', 'n e', 'n l', 'n p', 'na ', 'ndo', 'no ', 'nos', 'nta', 'nte', 'nto', 'o a', 'o c', 'o d', 'o e', 'o l', 'o m', 'o p', 'o q', 'o s', 'o t', 'om ', 'on ', 'or ', 'os ', 'os.', 'par', 'per', 'por', 'pre', 'pue', 'que', 'qui', 'r a', 'r e', 'ra ', 'ran', 're ', 'rec', 'res', 'ro ', 'ría', 's a', 's c', 's d', 's e', 's l', 's m', 's p', 's s', 'se ', 'sta', 'ste', 'sto', 'stá', 'su ', 'ta ', 'tan', 'tar', 'te ', 'ten', 'tie', 'to ', 'tod', 'tom', 'tra', 'tá ', 'ue ', 'ued', 'uer', 'uie', 'un ', 'una', 'ver', 'ás ', 'él ', 'ía ']
print(len(a))

In [43]:
import tensorflow as tf;print(tf.__version__)

2.11.0

ModuleNotFoundError: No module named 'tf'